{% load staticfiles %}
    <footer class="site-footer no-margin-top">


      <!-- Bottom section -->
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyrights &copy; 2016 All Rights Reserved by <a href="http://www.tr.photos">tr.photos</a>.</p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

    </footer>

    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>


    <!-- Scripts -->
    <script src="{% static "js/app.min.js" %}"></script>
    <script src="{% static "js/tr.photos.js" %}"></script>

  </body>

</html>