{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}TR.Photos{% endblock %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block meta_aciklama %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keyword %}{% endblock %}">

    <!-- Styles -->
    <link href="{% static "css/tr.min.css" %}" rel="stylesheet">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="#">
    <link rel="icon" href="{% static "img/favicon.ico" %}">
  </head>